$color-primary: #f46036;
$color-secondary: #c18686;
$color-dark: #262322;
$color-light: #fafafa;

@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Nunito+Sans');


.button{
  background: $color-primary;
  color: $color-light;
  padding: 4px 8px;
  border: 1px solid rgba($color-primary,0.5);
  border-radius: 4px;
  font-family: 'nunito';
  font-weight: 700;
}


.button-register, .button-login{
  width: 300px;
  display: block;
  text-align: center;
  margin-top: 1rem;

}
.button-register:hover, .button-login:hover{
  color: #dadada;
  text-decoration: none;
  box-shadow: 8px 10px 20px 15px rgba(46, 61, 73, 0.15);
}

h1, h2, h3, p, span{
  font-family: 'Nunito Sans';
}
